@{
    ViewData["Title"] = "تقارير العنابر";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>تقارير العنابر</h3>
    </div>

    <div class="row g-2 mb-3">

        <div class="col-md-4 d-flex align-items-end gap-2">
            <a id="btnToday" class="btn btn-outline-primary" asp-action="SectionToday" asp-controller="Reports">اليوم</a>

            <a id="btnRange" class="btn btn-outline-primary" asp-action="SectionRange" asp-controller="Reports">عرض الفترة</a>

            <a id="btnDay" class="btn btn-outline-secondary" asp-action="SectionDay" asp-controller="Reports">يوم محدد</a>
            <a id="btnMonth" class="btn btn-outline-secondary" asp-action="SectionMonth" asp-controller="Reports">هذا الشهر</a>
        </div>
    </div>

</div>
